alembic==1.7.7
fastapi==0.78.0
fastapi-users==10.0.6
fastapi-users-db-sqlalchemy==4.0.5
pydantic==1.8.2
python-dotenv==1.0.0
SQLAlchemy==1.4.36
uvicorn==0.17.6
psycopg2-binary==2.9.9
tqdm==4.66.1
gunicorn==21.2.0
fastapi-pagination==0.7.0
pandas==1.5.2
sentence_transformers==2.2.2
